.*.sw[op]
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
sdl_toolset
libsdl_toolset.a
check_sdl_toolset
config.h
Makefile
.ninja_deps
.ninja_log
build.ninja
sdl_toolset_challenge.dSYM/
rules.ninja
sdl_toolset.dSYM/
*-*.tar.xz
