.*.sw[op]
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
glasses
libglasses.a
check_glasses
config.h
Makefile
.ninja_deps
.ninja_log
build.ninja
glasses_challenge.dSYM/
rules.ninja
glasses.dSYM/
install_manifest.txt
*-*.tar.xz
